body{
    background-color: #1d2128;
}
h1 {
    font-family: 'Zilla Slab', serif;
    color: #00B3F5;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
}
.preview {
    width: 600px;
    height: 700px;
    display: block;
    margin: 0px auto 0px;
}
h3 {
    color: #00DDFF;
    font-size: 40px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h4{
    color: #fafafa;
    font-size: 20px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
}

.download , .how-to {
    color: #fafafa;
    font-size: 20px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-family: 'IBM Plex Sans', sans-serif;
}

strong{
    color: #14eb96;
}

.geany-links {
    color: #f5f500;
    text-decoration: none;
}

.geany-links:hover {
    color: #f5f500;
    text-decoration: underline;
}

.os {
    color: #fafafa;
    font-size: 20px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}