html {
    font-family: 'Zilla Slab', serif;
}

body {
    background-color: #1d2128;
}

.head {
    background-color: #121212;
}

.github-links {
    color: #fafafa;
    text-decoration: none;
    margin: 0 80px 0 0 ;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.about-links{
    color: #fafafa;
    text-decoration: none;
    margin: 0 0 0 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.github-links:hover{
    color: #00DDFF;
    text-decoration: underline;
}

.about-links:hover{
    color: #00DDFF;
    text-decoration: underline;
}


.icon {
    display: block;
    margin: 0px auto 0px;
    width: 220px;
    height: 220px;
}

.title {
    text-align: center;
    font-size: 80px;
    color: #00B3F5;
    margin:  2px auto 5px;
}

.count {
    text-align: center;
    font-size: 35px;
    color: #00DDFF;
    margin:  0px auto 10px ;
}

.subtitle  {
    text-align: center;
    font-size: 30px;
    color: #fafafa;
    margin:  50px auto 0px;
}

.index {
    text-align: center ;
    background-color: #1d2128;
    color: #fafafa;
    margin: auto;
    font-size: 40px;
    font-weight: 600;
}

/* designate index */

.vscode {
    color: #00d2ff;
    text-decoration: none;
}

.vscode:hover {
    color: #00d2ff;
    text-decoration: underline;
}

.notepad-plus-plus {
    color: #ff3ce1;
    text-decoration: none;
}

.notepad-plus-plus:hover {
    color:#ff3ce1;
    text-decoration: underline;
}

.windows-terminal {
    color: #14eb96;
    text-decoration: none;
}

.windows-terminal:hover{
    color: #14eb96;
    text-decoration: underline;
}

.firefox {
    color: #ffca00;
    text-decoration: none;
}

.firefox:hover {
    text-decoration: underline;
    color:  #ffca00;
}

.geany{
    color: #00d2ff;
    text-decoration: none;
}

.geany:hover{
    color: #00d2ff;
    text-decoration: underline;
}

.gedit{
    color: #ff3ce1;
    text-decoration: none;
}

.gedit:hover{
    color:#ff3ce1;
    text-decoration: underline;
}

.coming-soon{
    color: #fafafa;
    text-align: center;
    margin: 80px auto 0px;
}

.more-info {
    color: #fafafa;
    text-align: center;
    margin: 70px auto 0px;
}