html {
    font-family: 'Zilla Slab', serif;
}

body {
    background-color: #1c1d26;
}

.fixed-topbar{
    background-color: #1c1d26;
    overflow: hidden;
    display: block;
    text-align: left;
    }

.monte-cristo, .about{
    color: #fafafa;
    text-decoration: none;
    margin: 0px 0px 0px 40px;
    font-size: 20px;
    text-align: center;
}
 
.about:hover{
    color: #00DDFF;
    text-decoration: underline;
}

.ahead  {
    background-color: #373A4B;  
    }

.logo {
    display: block;
    margin: 0px auto 0px;
    width: 220px;
    height: 220px;
}

.title {
    text-align: center;
    font-size: 80px;
    color: #00B3F5;
    margin:  2px auto 5px;
}

.count {
    text-align: center;
    font-size: 35px;
    color: #00DDFF;
    margin:  0px auto 10px ;
}
.subtitle  {
    text-align: center;
    font-size: 30px;
    color: #fafafa;
    margin:  50px auto 0px;
}

.index {
    text-align: center ;
    background-color: #1c1d26;
    color: #fafafa;
    margin: auto;
    font-size: 40px;
    font-weight: 600;
}

/* designate index */

.notepad-plus-plus {
    color: #FF4396;
    text-decoration: none;
}

.notepad-plus-plus:hover {
    color:#FF4396;
    text-decoration: underline;
}

.windows-terminal {
    color: #30F1A0;
    text-decoration: none;
}

.windows-terminal:hover{
    color: #30F1A0;
    text-decoration: underline;
}

.firefox {
    color: #FFBD41;
    text-decoration: none;
}

.firefox:hover {
    text-decoration: underline;
    color:  #FFBD41;
}

.geany{
    color: #42D3F2;
    text-decoration: none;
}

.geany:hover{
    color: #42D3F2;
    text-decoration: underline;
}

.coming-soon{
    color: #fafafa;
    text-align: center;
    margin: 80px auto 0px;
}

.more-info {
    color: #fafafa;
    text-align: center;
    margin: 70px auto 0px;
}

.github-links {
    color: #00B3F5;
    text-decoration: none;
}

.github-links:hover{
    color: #00B3F5;
    text-decoration: underline;
}