body{
    background-color: #373A4B;
}
h1 {
    font-family: 'Zilla Slab', serif;
    color: #00B3F5;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
}
.preview{
    width: 900px;
    height: 800px;
    display: block;
    margin: 0px auto 0px;
}
h3 {
    color: #00DDFF;
    font-size: 40px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.download , .how-to {
    color: #fafafa;
    font-size: 20px;
    text-align: left;
    margin: 40px 0px auto 100px;
    font-family: 'IBM Plex Sans', sans-serif;
}

strong{
    color: #30F1A0;
}

.notepad-plus-plus-links {
    color: #FFF94B;
    text-decoration: none;
}

.notepad-plus-plus-links:hover {
    color: #FFF94B;
    text-decoration:underline ;
}